{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.11.2"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
    // "@babel/plugin-transform-async-to-generator",
    // "@babel/plugin-transform-regenerator",
    // "@babel/plugin-transform-runtime"
  ]
}
